In [61]:
import pyspark
import findspark
from pyspark.sql import SparkSession


findspark.init()
sc = pyspark.SparkContext()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at <ipython-input-1-fb7f0f9d2079>:5

In [66]:
sc

In [63]:
dataRDD = sc.parallelize("Hello There! How are you?".split(" "))
dataRDD.collect()

['Hello', 'There!', 'How', 'are', 'you?']

In [69]:
txtFile = sc.textFile("/Users/Heath/Downloads/TitanicProblem/Titanic.txt")
txtFile.map(lambda line: line.upper()).collect()

['"1","1ST",1,"ALLEN, MISS ELISABETH WALTON",29.0000,"SOUTHAMPTON","ST LOUIS, MO","B-5","24160 L221","2","FEMALE"',
 '"2","1ST",0,"ALLISON, MISS HELEN LORAINE", 2.0000,"SOUTHAMPTON","MONTREAL, PQ / CHESTERVILLE, ON","C26","","","FEMALE"',
 '"3","1ST",0,"ALLISON, MR HUDSON JOSHUA CREIGHTON",30.0000,"SOUTHAMPTON","MONTREAL, PQ / CHESTERVILLE, ON","C26","","(135)","MALE"',
 '"4","1ST",0,"ALLISON, MRS HUDSON J.C. (BESSIE WALDO DANIELS)",25.0000,"SOUTHAMPTON","MONTREAL, PQ / CHESTERVILLE, ON","C26","","","FEMALE"',
 '"5","1ST",1,"ALLISON, MASTER HUDSON TREVOR", 0.9167,"SOUTHAMPTON","MONTREAL, PQ / CHESTERVILLE, ON","C22","","11","MALE"',
 '"6","1ST",1,"ANDERSON, MR HARRY",47.0000,"SOUTHAMPTON","NEW YORK, NY","E-12","","3","MALE"',
 '"7","1ST",1,"ANDREWS, MISS KORNELIA THEODOSIA",63.0000,"SOUTHAMPTON","HUDSON, NY","D-7","13502 L77","10","FEMALE"',
 '"8","1ST",0,"ANDREWS, MR THOMAS, JR",39.0000,"SOUTHAMPTON","BELFAST, NI","A-36","","","MALE"',
 '"9","1ST",1,"APPLETON, MRS EDWARD DALE (CHARLOTTE LAMSON)",58.0000,"SOUTHAMPTON","BAYSIDE, QUEENS, NY","C-101","","2","FEMALE"',
 '"10","1ST",0,"ARTAGAVEYTIA, MR RAMON",71.0000,"CHERBOURG","MONTEVIDEO, URUGUAY","","","(22)","MALE"',
 '"11","1ST",0,"ASTOR, COLONEL JOHN JACOB",47.0000,"CHERBOURG","NEW YORK, NY","","17754 L224 10S 6D","(124)","MALE"',
 '"12","1ST",1,"ASTOR, MRS JOHN JACOB (MADELEINE TALMADGE FORCE)",19.0000,"CHERBOURG","NEW YORK, NY","","17754 L224 10S 6D","4","FEMALE"',
 '"13","1ST",1,"AUBERT, MRS LEONTINE PAULINE",NA,"CHERBOURG","PARIS, FRANCE","B-35","17477 L69 6S","9","FEMALE"',
 '"14","1ST",1,"BARKWORTH, MR ALGERNON H.",NA,"SOUTHAMPTON","HESSLE, YORKS","A-23","","B","MALE"',
 '"15","1ST",0,"BAUMANN, MR JOHN D.",NA,"SOUTHAMPTON","NEW YORK, NY","","","","MALE"',
 '"16","1ST",1,"BAXTER, MRS JAMES (HELENE DELAUDENIERE CHAPUT)",50.0000,"CHERBOURG","MONTREAL, PQ","B-58/60","","6","FEMALE"',
 '"17","1ST",0,"BAXTER, MR QUIGG EDMOND",24.0000,"CHERBOURG","MONTREAL, PQ","B-58/60","","","MALE"',
 '"18","1ST",0,"BEATTIE, MR THOMSON",36.0000,"CHERBOURG","WINNIPEG, MN","C-6","","","MALE"',
 '"19","1ST",1,"BECKWITH, MR RICHARD LEONARD",37.0000,"SOUTHAMPTON","NEW YORK, NY","D-35","","5","MALE"',
 '"20","1ST",1,"BECKWITH, MRS RICHARD LEONARD (SALLIE MONYPENY)",47.0000,"SOUTHAMPTON","NEW YORK, NY","D-35","","5","FEMALE"',
 '"21","1ST",1,"BEHR, MR KARL HOWELL",26.0000,"CHERBOURG","NEW YORK, NY","C-148","","5","MALE"',
 '"22","1ST",0,"BIRNBAUM, MR JAKOB",25.0000,"CHERBOURG","SAN FRANCISCO, CA","","","(148)","MALE"',
 '"23","1ST",1,"BISHOP, MR DICKINSON H.",25.0000,"CHERBOURG","DOWAGIAC, MI","B-49","","7","MALE"',
 '"24","1ST",1,"BISHOP, MRS DICKINSON H. (HELEN WALTON)",19.0000,"CHERBOURG","DOWAGIAC, MI","B-49","","7","FEMALE"',
 '"25","1ST",1,"BJORNSTRM-STEFFANSSON, MR MAURITZ HAKAN",28.0000,"SOUTHAMPTON","STOCKHOLM, SWEDEN / WASHINGTON, DC",""," ","D","MALE"',
 '"26","1ST",0,"BLACKWELL, MR STEPHEN WEART",45.0000,"SOUTHAMPTON","TRENTON, NJ","","","(241)","MALE"',
 '"27","1ST",1,"BLANK, MR HENRY",39.0000,"CHERBOURG","GLEN RIDGE, NJ","A-31","","7","MALE"',
 '"28","1ST",1,"BONNELL, MISS CAROLINE",30.0000,"SOUTHAMPTON","YOUNGSTOWN, OH","C-7","","8","FEMALE"',
 '"29","1ST",1,"BONNELL, MISS ELIZABETH",58.0000,"SOUTHAMPTON","BIRKDALE, ENGLAND CLEVELAND, OHIO","C-103","","8","FEMALE"',
 '"30","1ST",0,"BOREBANK, MR JOHN JAMES",NA,"SOUTHAMPTON","LONDON / WINNIPEG, MB","D-21/2","","","MALE"',
 '"31","1ST",1,"BOWEN, MISS GRACE SCOTT",45.0000,"CHERBOURG","COOPERSTOWN, NY","","","4","FEMALE"',
 '"32","1ST",1,"BOWERMAN, MISS ELSIE EDITH",22.0000,"SOUTHAMPTON","ST LEONARDS-ON-SEA, ENGLAND OHIO","","","6","FEMALE"',
 '"33","1ST",1,"BRADLEY, MR GEORGE",NA,"SOUTHAMPTON","LOS ANGELES, CA","","","15","MALE"',
 '"34","1ST",0,"BRADY, MR JOHN BERTRAM",41.0000,"SOUTHAMPTON","POMEROY, WA","","","","MALE"',
 '"35","1ST",0,"BRANDEIS, MR EMIL",48.0000,"CHERBOURG","OMAHA, NE","","17591 L50 9S 11D","(208)","MALE"',
 '"36","1ST",0,"BREWE, DR ARTHUR JACKSON",NA,"CHERBOURG","PHILADELPHIA, PA","","","","MALE"',
 '"37","1ST",1,"BROWN, MRS JAMES JOSEPH (MARGARET "MOLLY" TOBIN)",44.0000,"CHERBOURG","DENVER, CO","","17610 L27 15S 5D","6","FEMALE"',
 '"38","1ST",1,"BROWN, MRS JOHN MURRAY (CAROLINE LANE LAMSON)",59.0000,"SOUTHAMPTON","BELMONT, MA","C-101","","D","FEMALE"',
 '"39","1ST",1,"BUCKNELL, MRS WILLIAM ROBERT (EMMA ELIZA WARD)",60.0000,"CHERBOURG","PHILADELPHIA, PA","","","8","FEMALE"',
 '"40","1ST",0,"BUTT, MAJOR ARCHIBALD WILLINGHAM",45.0000,"SOUTHAMPTON","WASHINGTON, DC","","","","MALE"',
 '"41","1ST",1,"CALDERHEAD, MR EDWARD P.",NA,"SOUTHAMPTON","NEW YORK, NY","","","5/7","MALE"',
 '"42","1ST",1,"CANDEE, MRS EDWARD (HELEN CHURCHILL HUNGERFORD)",53.0000,"CHERBOURG","WASHINGTON, DC","","","6","FEMALE"',
 '"43","1ST",1,"CARDEZA, MRS JAMES WARBURTON MARTINEZ (CHARLOTTE WARDLE DRAKE)",58.0000,"CHERBOURG","GERMANTOWN, PHILADELPHIA, PA","B-51/3/5","17755 L512 6S","3","FEMALE"',
 '"44","1ST",1,"CARDEZA, MR THOMAS DRAKE MARTINEZ",36.0000,"CHERBOURG","AUSTRIA-HUNGARY / GERMANTOWN, PHILADELPHIA, PA","B-51/3/5","17755 L512 6S","3","MALE"',
 '"45","1ST",0,"CARLSSON, MR FRANS OLOF",33.0000,"SOUTHAMPTON","NEW YORK, NY","","","","MALE"',
 '"46","1ST",0,"CARRAU, MR FRANCISCO M.",NA,"SOUTHAMPTON","MONTEVIDEO, URUGUAY","","","","MALE"',
 '"47","1ST",0,"CARRAU, MR JOSE PEDRO",NA,"SOUTHAMPTON","MONTEVIDEO, URUGUAY","","","","MALE"',
 '"48","1ST",1,"CARTER, MR WILLIAM ERNEST",36.0000,"SOUTHAMPTON","BRYN MAWR, PA","","","C","MALE"',
 '"49","1ST",1,"CARTER, MRS WILLIAM ERNEST (LUCILE POLK)",36.0000,"SOUTHAMPTON","BRYN MAWR, PA","","","4","FEMALE"',
 '"50","1ST",1,"CARTER, MISS LUCILE POLK",14.0000,"SOUTHAMPTON","BRYN MAWR, PA","","","4","FEMALE"',
 '"51","1ST",1,"CARTER, MASTER WILLIAM T. II",11.0000,"SOUTHAMPTON","BRYN MAWR, PA","","","4","MALE"',
 '"52","1ST",0,"CASE, MR HOWARD BROWN",49.0000,"SOUTHAMPTON","ASCOT, BERKSHIRE / ROCHESTER, NY","","","","MALE"',
 '"53","1ST",1,"CASSEBEER, MRS HENRY ARTHUR JR (GENEVIEVE FOSDICK)",NA,"CHERBOURG","NEW YORK, NY","","","5","FEMALE"',
 '"54","1ST",0,"CAVENDISH, MR TYRELL WILLIAM",36.0000,"SOUTHAMPTON","LITTLE ONN HALL, STAFFS","","","(172)","MALE"',
 '"55","1ST",1,"CAVENDISH, MRS TYRELL WILLIAM JULIA FLORENCE SIEGEL",NA,"SOUTHAMPTON","LITTLE ONN HALL, STAFFS","","","6","FEMALE"',
 '"56","1ST",0,"CHAFFEE, MR HERBERT FULLER",46.0000,"SOUTHAMPTON","AMENIA, ND","","","","MALE"',
 '"57","1ST",1,"CHAFFEE, MRS HERBERT FULLER (CARRIE CONSTANCE TOOGOOD)",47.0000,"SOUTHAMPTON","AMENIA, ND","","","","FEMALE"',
 '"58","1ST",1,"CHAMBERS, MR NORMAN CAMPBELL",27.0000,"SOUTHAMPTON","NEW YORK, NY / ITHACA, NY","","","5","MALE"',
 '"59","1ST",1,"CHAMBERS, MRS NORMAN CAMPBELL (BERTHA GRIGGS)",31.0000,"SOUTHAMPTON","NEW YORK, NY / ITHACA, NY","","","5","FEMALE"',
 '"60","1ST",1,"CHERRY, MISS GLADYS",NA,"SOUTHAMPTON","LONDON, ENGLAND","","","8","FEMALE"',
 '"61","1ST",1,"CHEVRE, MR PAUL",NA,"CHERBOURG","PARIS, FRANCE","","","7","MALE"',
 '"62","1ST",1,"CHIBNALL (BOWERMAN), MRS EDITH MARTHA",NA,"SOUTHAMPTON","ST LEONARDS-ON-SEA, ENGLAND OHIO","","","6","FEMALE"',
 '"63","1ST",0,"CHISHOLM, MR RODERICK ROBERT",NA,"","LIVERPOOL, ENGLAND / BELFAST","","","","MALE"',
 '"64","1ST",0,"CLARK, MR WALTER MILLER",27.0000,"CHERBOURG","LOS ANGELES, CA","C-87","","","MALE"',
 '"65","1ST",1,"CLARK, MRS WALTER MILLER (VIRGINIA MCDOWELL)",26.0000,"CHERBOURG","LOS ANGELES, CA","C-87","","4","FEMALE"',
 '"66","1ST",0,"CLIFFORD, MR GEORGE QUINCY",NA,"SOUTHAMPTON","STOUGHTON, MA","","","","MALE"',
 '"67","1ST",0,"COLLEY, MR EDWARD POMEROY",NA,"SOUTHAMPTON","VICTORIA, BC","","","","MALE"',
 '"68","1ST",1,"COMPTON, MRS ALEXANDER TAYLOR (MARY ELIZA INGERSOLL)",64.0000,"CHERBOURG","LAKEWOOD, NJ","","","14","FEMALE"',
 '"69","1ST",0,"COMPTON, MR ALEXANDER TAYLOR, JR",37.0000,"CHERBOURG","LAKEWOOD, NJ","","","","MALE"',
 '"70","1ST",1,"COMPTON, MISS SARA REBECCA",39.0000,"CHERBOURG","LAKEWOOD, NJ","","","14","FEMALE"',
 '"71","1ST",1,"CORNELL, MRS ROBERT CLIFFORD (MALVINA HELEN LAMSON)",55.0000,"SOUTHAMPTON","NEW YORK, NY","C-101","","2","FEMALE"',
 '"72","1ST",0,"CRAFTON, MR JOHN BERTRAM",NA,"SOUTHAMPTON","ROACHDALE, IN","","","","MALE"',
 '"73","1ST",0,"CROSBY, CAPTAIN EDWARD GIFFORD",70.0000,"SOUTHAMPTON","MILWAUKEE, WI","","","(269)","MALE"',
 '"74","1ST",1,"CROSBY, MRS EDWARD GIFFORD (CATHERINE ELIZABETH HALSTEAD)",69.0000,"SOUTHAMPTON","MILWAUKEE, WI","","","5","FEMALE"',
 '"75","1ST",1,"CROSBY, MISS HARRIET R.",36.0000,"SOUTHAMPTON","MILWAUKEE, WI","","","5","FEMALE"',
 '"76","1ST",0,"CUMINGS, MR JOHN BRADLEY",39.0000,"CHERBOURG","NEW YORK, NY","C-85","","","MALE"',
 '"77","1ST",1,"CUMINGS, MRS JOHN BRADLEY (FLORENCE BRIGGS THAYER)",38.0000,"CHERBOURG","NEW YORK, NY","C-85","","4","FEMALE"',
 '"78","1ST",1,"DALY, MR PETER DENIS ",NA,"SOUTHAMPTON","LIMA, PERU","","","A","MALE"',
 '"79","1ST",1,"DANIEL, MR ROBERT WILLIAMS",27.0000,"SOUTHAMPTON","PHILADELPHIA, PA","","","7","MALE"',
 '"80","1ST",0,"DAVIDSON, MR THORNTON",31.0000,"SOUTHAMPTON","MONTREAL, PQ","","","","MALE"',
 '"81","1ST",1,"DAVIDSON, MRS THORNTON (ORIAN HAYS)",27.0000,"SOUTHAMPTON","MONTREAL, PQ","","","3","FEMALE"',
 '"82","1ST",1,"DE VILLIERS, MADAME BERTHE",NA,"CHERBOURG","BELGIUM  MONTREAL, PQ","","","6","FEMALE"',
 '"83","1ST",1,"DICK, MR ALBERT ADRIAN",31.0000,"CHERBOURG","CALGARY, AB","","","3","MALE"',
 '"84","1ST",1,"DICK, MRS ALBERT ADRIAN VERA GILLESPIE",17.0000,"CHERBOURG","CALGARY, AB","","","3","FEMALE"',
 '"85","1ST",1,"DODGE, DR. WASHINGTON",NA,"SOUTHAMPTON","SAN FRANCISCO, CA","","","13","MALE"',
 '"86","1ST",1,"DODGE, MRS WASHINGTON (RUTH VIDAVER)",NA,"SOUTHAMPTON","SAN FRANCISCO, CA","","","5/7","FEMALE"',
 '"87","1ST",1,"DODGE, MASTER WASHINGTON", 4.0000,"SOUTHAMPTON","SAN FRANCISCO, CA","","","5/7","MALE"',
 '"88","1ST",1,"DOUGLAS, MRS FREDERICK CHARLES (SUZETTE BAXTER)",27.0000,"CHERBOURG","MONTREAL, PQ","","","6","FEMALE"',
 '"89","1ST",0,"DOUGLAS, MR WALTER DONALD",50.0000,"CHERBOURG","DEEPHAVEN, MN / CEDAR RAPIDS, IA","","","(62)","MALE"',
 '"90","1ST",1,"DOUGLAS, MRS WALTER DONALD (MAHALA DUTTON)",48.0000,"CHERBOURG","DEEPHAVEN, MN / CEDAR RAPIDS, IA","","","2","FEMALE"',
 '"91","1ST",1,"DUFF GORDON, SIR COSMO EDMUND",49.0000,"CHERBOURG","LONDON / PARIS","","11755 L39 12S","1","MALE"',
 '"92","1ST",1,"DUFF GORDON, LADY (LUCILLE WALLACE SUTHERLAND)",48.0000,"CHERBOURG","LONDON / PARIS","","17485 L56 18S 7D","1","FEMALE"',
 '"93","1ST",0,"DULLES, MR WILLIAM CROTHERS",39.0000,"CHERBOURG","PHILADELPHIA, PA","","","(133)","MALE"',
 '"94","1ST",1,"EARNSHAW, MRS BOULTON (OLIVE POTTER)",23.0000,"CHERBOURG","MT AIRY, PHILADELPHIA, PA","","","7","FEMALE"',
 '"95","1ST",1,"EUSTIS, MISS ELIZABETH MUSSEY",53.0000,"CHERBOURG","BROOKLINE, MA","","","4","FEMALE"',
 '"96","1ST",0,"EVANS, MISS EDITH CORSE",36.0000,"CHERBOURG","NEW YORK, NY","","","","FEMALE"',
 '"97","1ST",1,"FLEGENHEIM, MRS ALFRED (ANTOINETTE)",NA,"CHERBOURG","NEW YORK, NY","","","7","FEMALE"',
 '"98","1ST",1,"FLYNN, MR JOHN IRVING",NA,"SOUTHAMPTON","BROOKLYN, NY","","","5/7","MALE"',
 '"99","1ST",0,"FOREMAN, MR BENJAMIN LAVENTALL",30.0000,"CHERBOURG","NEW YORK, NY","","","","MALE"',
 '"100","1ST",1,"FORTUNE, MISS ALICE ELIZABETH",24.0000,"SOUTHAMPTON","WINNIPEG, MB","","","10","FEMALE"',
 '"101","1ST",0,"FORTUNE, MR CHARLES ALEXANDER",19.0000,"SOUTHAMPTON","WINNIPEG, MB","","","","MALE"',
 '"102","1ST",1,"FORTUNE, MISS ETHEL FLORA",28.0000,"SOUTHAMPTON","WINNIPEG, MB","","","10","FEMALE"',
 '"103","1ST",1,"FORTUNE, MISS MABEL",23.0000,"SOUTHAMPTON","WINNIPEG, MB","","","10","FEMALE"',
 '"104","1ST",0,"FORTUNE, MR MARK",64.0000,"SOUTHAMPTON","WINNIPEG, MB","","","","MALE"',
 '"105","1ST",1,"FORTUNE, MRS MARK (MARY MCDOUGALD)",60.0000,"SOUTHAMPTON","WINNIPEG, MB","","","10","FEMALE"',
 '"106","1ST",0,"FRANKLIN, MR THOMAS PARHAM",NA,"SOUTHAMPTON","WESTCLIFF-ON-SEA, ESSEX","","","","MALE"',
 '"107","1ST",1,"FRAUENTHAL, DR HENRY WILLIAM",49.0000,"CHERBOURG","NEW YORK, NY","","","5","MALE"',
 '"108","1ST",1,"FRAUENTHAL, MRS HENRY WILLIAM (CLARA HEINSHEIMER)",NA,"CHERBOURG","NEW YORK, NY","","","5","FEMALE"',
 '"109","1ST",1,"FRAUENTHAL, MR ISAAC GERALD",44.0000,"SOUTHAMPTON","NEW YORK, NY","","","5","MALE"',
 '"110","1ST",1,"FROLICHER, MISS MARGUERITE",22.0000,"CHERBOURG","ZURICH, SWITZERLAND","","","5","FEMALE"',
 '"111","1ST",1,"FROLICHER-STEHLI, MR MAXMILLIAN",60.0000,"CHERBOURG","ZURICH, SWITZERLAND","","","5","MALE"',
 '"112","1ST",1,"FROLICHER-STEHLI, MRS MAXMILLIAN (MARGARETHA EMERENTIA STEHLI)",48.0000,"CHERBOURG","ZURICH, SWITZERLAND","","","5","FEMALE"',
 '"113","1ST",0,"FUTRELLE, MR JACQUES",37.0000,"SOUTHAMPTON","SCITUATE, MA","","","","MALE"',
 '"114","1ST",1,"FUTRELLE, MRS JACQUES (MAY PEEL)",35.0000,"SOUTHAMPTON","SCITUATE, MA","","","9","FEMALE"',
 '"115","1ST",0,"GEE, MR ARTHUR H.",47.0000,"SOUTHAMPTON","ST ANNE\'S-ON-SEA, LANCASHIRE","","","(275)","MALE"',
 '"116","1ST",1,"GIBSON, MISS DOROTHY",22.0000,"CHERBOURG","NEW YORK, NY","","","7","FEMALE"',
 '"117","1ST",1,"GIBSON, MRS LEONARD (PAULINE C. BOESON)",45.0000,"CHERBOURG","NEW YORK, NY","","","7","FEMALE"',
 '"118","1ST",1,"GOLDENBERG, MR SAMUEL L.",49.0000,"CHERBOURG","PARIS, FRANCE / NEW YORK, NY","","","5","MALE"',
 '"119","1ST",1,"GOLDENBERG, MRS SAMUEL L. (EDWIGA GRABOWSKO)",NA,"CHERBOURG","PARIS, FRANCE / NEW YORK, NY","","","5","FEMALE"',
 '"120","1ST",0,"GOLDSCHMIDT, MR GEORGE B.",71.0000,"CHERBOURG","NEW YORK, NY","","","","MALE"',
 '"121","1ST",1,"GRACIE, COLONEL ARCHIBALD IV",54.0000,"SOUTHAMPTON","WASHINGTON, DC","C-51","113780 L28 10S","B","MALE"',
 '"122","1ST",0,"GRAHAM, MR GEORGE EDWARD",38.0000,"SOUTHAMPTON","WINNIPEG, MB","","","(147)","MALE"',
 '"123","1ST",1,"GRAHAM, MISS MARGARET EDITH",19.0000,"SOUTHAMPTON","GREENWICH, CT","C-125","17582 L153 9S 3D","3","FEMALE"',
 '"124","1ST",1,"GRAHAM, MRS WILLIAM THOMPSON (EDITH JUNKINS)",58.0000,"SOUTHAMPTON","GREENWICH, CT","C-91","17582 L153 9S 3D","3","FEMALE"',
 '"125","1ST",1,"GREENFIELD, MRS LEO DAVID (BLANCHE STROUSE)",45.0000,"CHERBOURG","NEW YORK, NY","","","7","FEMALE"',
 '"126","1ST",1,"GREENFIELD, MR WILLIAM BERTRAM",23.0000,"CHERBOURG","NEW YORK, NY","","","7","MALE"',
 '"127","1ST",0,"GUGGENHEIM, MR BENJAMIN",46.0000,"CHERBOURG","NEW YORK, NY","B-82/4","17593 L56 18S 7D","","MALE"',
 '"128","1ST",1,"HARDER, MR GEORGE ACHILLES",25.0000,"CHERBOURG","BROOKLYN, NY","","","5","MALE"',
 '"129","1ST",1,"HARDER, MRS GEORGE ACHILLES (DOROTHY ANNAN)",21.0000,"CHERBOURG","BROOKLYN, NY","","","5","FEMALE"',
 '"130","1ST",1,"HARPER, MR HENRY SLEEPER",48.0000,"CHERBOURG","NEW YORK, NY","","","3","MALE"',
 '"131","1ST",1,"HARPER, MRS HENRY SLEEPER (MYNA HAXTUN)",49.0000,"CHERBOURG","NEW YORK, NY","","","3","FEMALE"',
 '"132","1ST",0,"HARRIS, MR HENRY BIRKHARDT",45.0000,"SOUTHAMPTON","NEW YORK, NY","C-83","36973 L83 9S 6D","","MALE"',
 '"133","1ST",1,"HARRIS, MRS HENRY BIRKHARDT (IRENE WALLACH)",36.0000,"SOUTHAMPTON","NEW YORK, NY","C-83","36973 L83 9S 6D","D","FEMALE"',
 '"134","1ST",1,"HAWKSFORD, MR WALTER JAMES",NA,"SOUTHAMPTON","KINGSTON, SURREY","","","3","MALE"',
 '"135","1ST",0,"HAYS, MR CHARLES MELVILLE",55.0000,"SOUTHAMPTON","MONTREAL, PQ","","","(307)","MALE"',
 '"136","1ST",1,"HAYS, MRS CHARLES MELVILLE (CLARA JENNINGS GREGG)",52.0000,"SOUTHAMPTON","MONTREAL, PQ","","","3","FEMALE"',
 '"137","1ST",1,"HAYS, MISS MARGARET BECHSTEIN",24.0000,"SOUTHAMPTON","NEW YORK, NY","","","7","FEMALE"',
 '"138","1ST",0,"HEAD, MR CHRISTOPHER",NA,"SOUTHAMPTON","LONDON / MIDDLESEX","","","","MALE"',
 '"139","1ST",0,"HILLIARD, MR HERBERT HENRY",NA,"SOUTHAMPTON","BRIGHTON, MA","","","","MALE"',
 '"140","1ST",0,"HIPKINS, MR WILLIAM EDWARD",NA,"SOUTHAMPTON","LONDON / BIRMINGHAM","","","","MALE"',
 '"141","1ST",1,"HIPPACH, MISS JEAN GERTRUDE",16.0000,"CHERBOURG","CHICAGO, IL","B-18","111361 L57 19S 7D","4","FEMALE"',
 '"142","1ST",1,"HIPPACH, MRS LOUIS ALBERT (IDA SOPHIA FISCHER)",44.0000,"CHERBOURG","CHICAGO, IL","B-18","111361 L57 19S 7D","4","FEMALE"',
 '"143","1ST",1,"HOGEBOOM, MRS JOHN C. (ANNA ANDREWS)",51.0000,"SOUTHAMPTON","HUDSON, NY","D-?","13502 L77","10","FEMALE"',
 '"144","1ST",0,"HOLVERSON, MR ALEXANDER OSKAR",42.0000,"SOUTHAMPTON","NEW YORK, NY","","","(38)","MALE"',
 '"145","1ST",1,"HOLVERSON, MRS ALEXANDER OSKAR (MARY ALINE TOWNER)",35.0000,"SOUTHAMPTON","NEW YORK, NY","","","","FEMALE"',
 '"146","1ST",1,"HOMER, MR HARRY",35.0000,"CHERBOURG","INDIANAPOLIS, IN","","","15","MALE"',
 '"147","1ST",1,"HOYT, MR FREDERICK MAXFIELD",38.0000,"SOUTHAMPTON","NEW YORK, NY /  STAMFORD CT","C-93","","D","MALE"',
 '"148","1ST",1,"HOYT, MRS FREDERICK MAXFIELD (JANE ANNE FORBY)",35.0000,"SOUTHAMPTON","NEW YORK, NY /  STAMFORD CT","C-93","","D","FEMALE"',
 '"149","1ST",0,"HOYT, MR WILLIAM F.",NA,"CHERBOURG","NEW YORK, NY","","","14","MALE"',
 '"150","1ST",0,"ISHAM, MISS ANNE ELIZABETH",50.0000,"CHERBOURG","PARIS, FRANCE NEW YORK, NY","C-49","","","FEMALE"',
 '"151","1ST",1,"ISMAY, MR JOSEPH BRUCE",49.0000,"SOUTHAMPTON","LIVERPOOL","B-52/4/6","112058 COMPLIMENTARY","C","MALE"',
 '"152","1ST",0,"JONES, MR CHARLES CRESSON",46.0000,"SOUTHAMPTON","BENNINGTON, VT","","","(80)","MALE"',
 '"153","1ST",0,"JULIAN, MR HENRY FORBES",NA,"SOUTHAMPTON","LONDON","","","","MALE"',
 '"154","1ST",0,"KENT, MR EDWARD AUSTIN",58.0000,"CHERBOURG","BUFFALO, NY","","","(258)","MALE"',
 '"155","1ST",0,"KENYON, MR FREDERICK R.",41.0000,"SOUTHAMPTON","SOUTHINGTON / NOANK, CT","","","","MALE"',
 '"156","1ST",1,"KENYON, MRS FREDERICK R. (MARION)",NA,"SOUTHAMPTON","SOUTHINGTON / NOANK, CT","","","8","FEMALE"',
 '"157","1ST",1,"KIMBALL, MR EDWIN NELSON JR.",42.0000,"SOUTHAMPTON","BOSTON, MA","","","5","MALE"',
 '"158","1ST",1,"KIMBALL, MRS EDWIN NELSON JR. (GERTRUDE PARSONS)",40.0000,"SOUTHAMPTON","BOSTON, MA","","","5","FEMALE"',
 '"159","1ST",0,"KLABER, MR HERMAN",NA,"SOUTHAMPTON","PORTLAND, OR","","","","MALE"',
 '"160","1ST",1,"LEADER, DR ALICE FARNHAM",NA,"SOUTHAMPTON","NEW YORK, NY","","","8","FEMALE"',
 '"161","1ST",0,"LEWY, MR ERVIN G.",NA,"CHERBOURG","CHICAGO, IL","","","","MALE"',
 '"162","1ST",0,"LINDEBERG-LIND, MR ERIK GUSTAF",42.0000,"SOUTHAMPTON","STOCKHOLM, SWEDEN","","","","MALE"',
 '"163","1ST",1,"LINDSTROM, MRS CARL JOHAN (SIGRID POSSE)",55.0000,"CHERBOURG","STOCKHOLM, SWEDEN","","","6","FEMALE"',
 '"164","1ST",1,"LINES, MRS ERNEST H. (ELIZABETH LINDSEY JAMES)",50.0000,"CHERBOURG","PARIS, FRANCE","","","9","FEMALE"',
 '"165","1ST",1,"LINES, MISS MARY CONOVER",16.0000,"CHERBOURG","PARIS, FRANCE","","","9","FEMALE"',
 '"166","1ST",0,"LINGREY, MR EDWARD",NA,"","","","","","MALE"',
 '"167","1ST",0,"LONG, MR MILTON CLYDE",29.0000,"SOUTHAMPTON","SPRINGFIELD, MA","","","(126)","MALE"',
 '"168","1ST",1,"LONGLEY, MISS GRETCHEN FISKE",21.0000,"SOUTHAMPTON","HUDSON, NY","D-?","13502 L77","10","FEMALE"',
 '"169","1ST",0,"LORING, MR JOSEPH HOLLAND",30.0000,"SOUTHAMPTON","LONDON / NEW YORK, NY","","","","MALE"',
 '"170","1ST",1,"MADILL, MISS GEORGETTE ALEXANDRA",15.0000,"SOUTHAMPTON","ST LOUIS, MO","B-5","24160 L221","2","FEMALE"',
 '"171","1ST",0,"MAGUIRE, MR JOHN EDWARD",30.0000,"SOUTHAMPTON","BROCKTON, MA","","","","MALE"',
 '"172","1ST",1,"MARECHAL, MR PIERRE",NA,"CHERBOURG","PARIS, FRANCE","","","7","MALE"',
 '"173","1ST",0,"MARVIN, MR DANIEL WARNER",NA,"SOUTHAMPTON","NEW YORK, NY","","","","MALE"',
 '"174","1ST",1,"MARVIN, MRS DANIEL WARNER (MARY GRAHAM CARMICHAEL FARQUARSON)",NA,"SOUTHAMPTON","NEW YORK, NY","","","","FEMALE"',
 '"175","1ST",0,"MCCAFFRY, MR THOMAS FRANCIS",46.0000,"CHERBOURG","VANCOUVER, BC","","","(292)","MALE"',
 '"176","1ST",0,"MCCARTHY, MR TIMOTHY J.",54.0000,"SOUTHAMPTON","DORCHESTER, MA","","","(175)","MALE"',
 '"177","1ST",1,"MCGOUGH, MR JAMES R.",36.0000,"SOUTHAMPTON","PHILADELPHIA, PA","","","7","MALE"',
 '"178","1ST",0,"MEYER, MR EDGAR JOSEPH",28.0000,"CHERBOURG","NEW YORK, NY","","","","MALE"',
 '"179","1ST",1,"MEYER, MRS EDGAR JOSEPH (LEILA SAKS)",NA,"CHERBOURG","NEW YORK, NY","","","6","FEMALE"',
 '"180","1ST",0,"MILLET, MR FRANCIS DAVIS",65.0000,"SOUTHAMPTON","EAST BRIDGEWATER, MA","","","(249)","MALE"',
 '"181","1ST",1,"MINAHAN, MISS DAISY E.",33.0000,"QUEENSTOWN","GREEN BAY, WI","","","14","FEMALE"',

In [70]:
spark = SparkSession.builder.appName('SparkByCynthia.com').getOrCreate()

In [117]:
df = spark.read.csv("/Users/Heath/Downloads/TitanicProblem/Titanic.txt").toDF("id","rank","alive","name","age","city","state","class","level","room_no","gender")
df.show()

+---+----+-----+--------------------+-------+-----------+--------------------+-------+-----------------+-------+------+
| id|rank|alive|                name|    age|       city|               state|  class|            level|room_no|gender|
+---+----+-----+--------------------+-------+-----------+--------------------+-------+-----------------+-------+------+
|  1| 1st|    1|Allen, Miss Elisa...|29.0000|Southampton|        St Louis, MO|    B-5|       24160 L221|      2|female|
|  2| 1st|    0|Allison, Miss Hel...| 2.0000|Southampton|Montreal, PQ / Ch...|    C26|             null|   null|female|
|  3| 1st|    0|Allison, Mr Hudso...|30.0000|Southampton|Montreal, PQ / Ch...|    C26|             null|  (135)|  male|
|  4| 1st|    0|Allison, Mrs Huds...|25.0000|Southampton|Montreal, PQ / Ch...|    C26|             null|   null|female|
|  5| 1st|    1|Allison, Master H...| 0.9167|Southampton|Montreal, PQ / Ch...|    C22|             null|     11|  male|
|  6| 1st|    1|  Anderson, Mr Harry|47.0000|Southampton|        New York, NY|   E-12|             null|      3|  male|
|  7| 1st|    1|Andrews, Miss Kor...|63.0000|Southampton|          Hudson, NY|    D-7|        13502 L77|     10|female|
|  8| 1st|    0|Andrews, Mr Thoma...|39.0000|Southampton|         Belfast, NI|   A-36|             null|   null|  male|
|  9| 1st|    1|Appleton, Mrs Edw...|58.0000|Southampton| Bayside, Queens, NY|  C-101|             null|      2|female|
| 10| 1st|    0|Artagaveytia, Mr ...|71.0000|  Cherbourg| Montevideo, Uruguay|   null|             null|   (22)|  male|
| 11| 1st|    0|Astor, Colonel Jo...|47.0000|  Cherbourg|        New York, NY|   null|17754 L224 10s 6d|  (124)|  male|
| 12| 1st|    1|Astor, Mrs John J...|19.0000|  Cherbourg|        New York, NY|   null|17754 L224 10s 6d|      4|female|
| 13| 1st|    1|Aubert, Mrs Leont...|     NA|  Cherbourg|       Paris, France|   B-35|     17477 L69 6s|      9|female|
| 14| 1st|    1|Barkworth, Mr Alg...|     NA|Southampton|       Hessle, Yorks|   A-23|             null|      B|  male|
| 15| 1st|    0| Baumann, Mr John D.|     NA|Southampton|        New York, NY|   null|             null|   null|  male|
| 16| 1st|    1|Baxter, Mrs James...|50.0000|  Cherbourg|        Montreal, PQ|B-58/60|             null|      6|female|
| 17| 1st|    0|Baxter, Mr Quigg ...|24.0000|  Cherbourg|        Montreal, PQ|B-58/60|             null|   null|  male|
| 18| 1st|    0| Beattie, Mr Thomson|36.0000|  Cherbourg|        Winnipeg, MN|    C-6|             null|   null|  male|
| 19| 1st|    1|Beckwith, Mr Rich...|37.0000|Southampton|        New York, NY|   D-35|             null|      5|  male|
| 20| 1st|    1|Beckwith, Mrs Ric...|47.0000|Southampton|        New York, NY|   D-35|             null|      5|female|
+---+----+-----+--------------------+-------+-----------+--------------------+-------+-----------------+-------+------+
only showing top 20 rows

In [118]:
df.createOrReplaceTempView("people")
sqldf = spark.sql("select * from people")
sqldf.show()

+---+----+-----+--------------------+-------+-----------+--------------------+-------+-----------------+-------+------+
| id|rank|alive|                name|    age|       city|               state|  class|            level|room_no|gender|
+---+----+-----+--------------------+-------+-----------+--------------------+-------+-----------------+-------+------+
|  1| 1st|    1|Allen, Miss Elisa...|29.0000|Southampton|        St Louis, MO|    B-5|       24160 L221|      2|female|
|  2| 1st|    0|Allison, Miss Hel...| 2.0000|Southampton|Montreal, PQ / Ch...|    C26|             null|   null|female|
|  3| 1st|    0|Allison, Mr Hudso...|30.0000|Southampton|Montreal, PQ / Ch...|    C26|             null|  (135)|  male|
|  4| 1st|    0|Allison, Mrs Huds...|25.0000|Southampton|Montreal, PQ / Ch...|    C26|             null|   null|female|
|  5| 1st|    1|Allison, Master H...| 0.9167|Southampton|Montreal, PQ / Ch...|    C22|             null|     11|  male|
|  6| 1st|    1|  Anderson, Mr Harry|47.0000|Southampton|        New York, NY|   E-12|             null|      3|  male|
|  7| 1st|    1|Andrews, Miss Kor...|63.0000|Southampton|          Hudson, NY|    D-7|        13502 L77|     10|female|
|  8| 1st|    0|Andrews, Mr Thoma...|39.0000|Southampton|         Belfast, NI|   A-36|             null|   null|  male|
|  9| 1st|    1|Appleton, Mrs Edw...|58.0000|Southampton| Bayside, Queens, NY|  C-101|             null|      2|female|
| 10| 1st|    0|Artagaveytia, Mr ...|71.0000|  Cherbourg| Montevideo, Uruguay|   null|             null|   (22)|  male|
| 11| 1st|    0|Astor, Colonel Jo...|47.0000|  Cherbourg|        New York, NY|   null|17754 L224 10s 6d|  (124)|  male|
| 12| 1st|    1|Astor, Mrs John J...|19.0000|  Cherbourg|        New York, NY|   null|17754 L224 10s 6d|      4|female|
| 13| 1st|    1|Aubert, Mrs Leont...|     NA|  Cherbourg|       Paris, France|   B-35|     17477 L69 6s|      9|female|
| 14| 1st|    1|Barkworth, Mr Alg...|     NA|Southampton|       Hessle, Yorks|   A-23|             null|      B|  male|
| 15| 1st|    0| Baumann, Mr John D.|     NA|Southampton|        New York, NY|   null|             null|   null|  male|
| 16| 1st|    1|Baxter, Mrs James...|50.0000|  Cherbourg|        Montreal, PQ|B-58/60|             null|      6|female|
| 17| 1st|    0|Baxter, Mr Quigg ...|24.0000|  Cherbourg|        Montreal, PQ|B-58/60|             null|   null|  male|
| 18| 1st|    0| Beattie, Mr Thomson|36.0000|  Cherbourg|        Winnipeg, MN|    C-6|             null|   null|  male|
| 19| 1st|    1|Beckwith, Mr Rich...|37.0000|Southampton|        New York, NY|   D-35|             null|      5|  male|
| 20| 1st|    1|Beckwith, Mrs Ric...|47.0000|Southampton|        New York, NY|   D-35|             null|      5|female|
+---+----+-----+--------------------+-------+-----------+--------------------+-------+-----------------+-------+------+
only showing top 20 rows

In [83]:
#1: Find the average age of people who died and who survived

sqldf = spark.sql("select alive, int(mean(age)) as avg_age from people group by alive")
sqldf.show()

+-----+-------+
|alive|avg_age|
+-----+-------+
|    0|     32|
|    1|     29|
+-----+-------+

In [113]:
#2: Number of males and females survived in following age range: (age <= 20), (20 < age <= 50) and (age > 50 and age = NA)

sqldf = spark.sql("select gender, ( CASE WHEN age <= 20 THEN 'lt20' WHEN age > 20 AND age <=50 THEN 'lt50' WHEN age > 50 THEN 'gt50' WHEN age = 'NA' THEN 'NA' ELSE '1' END) age_group, count(*) count from people group by gender, age_group")
sqldf.show()

+------+---------+-----+
|gender|age_group|count|
+------+---------+-----+
|  male|     lt20|   78|
|  male|       NA|  460|
|female|     lt50|  151|
|female|       NA|  220|
|female|     gt50|   25|
|  male|     lt50|  269|
|female|     lt20|   67|
|  male|     gt50|   43|
+------+---------+-----+

In [114]:
# 3. embarked locations and their count

sqldf = spark.sql("select city, count(*) from people group by city")
sqldf.show()

+-----------+--------+
|       city|count(1)|
+-----------+--------+
|       null|     492|
| Queenstown|      45|
|Southampton|     573|
|  Cherbourg|     203|
+-----------+--------+

In [141]:
# 4: Number of people survived in each class

#sqldf = spark.sql("select  (substr(class,1,1)) class_div ,   count(*) count from people where alive = 1 group by class_div")
sqldf = spark.sql("select  rank as class,   count(*) count from people where alive = 1 group by rank")

sqldf.show()

+-----+-----+
|class|count|
+-----+-----+
|  2nd|  119|
|  1st|  193|
|  3rd|  137|
+-----+-----+

In [146]:
# 5: Number of males survived whose age is less than 30 and travelling in 2nd class
sqldf = spark.sql("select gender,age ,  count(*) count from people where age < 30 and rank = '2nd' and gender = 'male' and alive = '1'  group by gender,age")
sqldf.show()

sqldf.createOrReplaceTempView("subset")
sqldf_subset = spark.sql("select * from subset")
sqldf_subset.show()


sqldf_subset_2 = spark.sql("select gender, sum(count) from subset group by gender ")
sqldf_subset_2.show()

+------+-------+-----+
|gender|    age|count|
+------+-------+-----+
|  male|22.0000|    1|
|  male|26.0000|    1|
|  male|24.0000|    1|
|  male|19.0000|    1|
|  male| 3.0000|    2|
|  male| 0.8333|    2|
|  male| 2.0000|    3|
|  male|20.0000|    1|
|  male| 8.0000|    2|
|  male| 1.0000|    2|
+------+-------+-----+

+------+-------+-----+
|gender|    age|count|
+------+-------+-----+
|  male|22.0000|    1|
|  male|26.0000|    1|
|  male|24.0000|    1|
|  male|19.0000|    1|
|  male| 3.0000|    2|
|  male| 0.8333|    2|
|  male| 2.0000|    3|
|  male|20.0000|    1|
|  male| 8.0000|    2|
|  male| 1.0000|    2|
+------+-------+-----+

+------+----------+
|gender|sum(count)|
+------+----------+
|  male|        16|
+------+----------+